.p-contact {
  background-image: url(../images/common/contact-bg.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.p-contact__inner {
  padding-top: rem(150);
  padding-bottom: rem(150);
  padding-right: $padding-pc;
  padding-left: $padding-pc;
  margin-left: auto;
  margin-right: auto;

  @include mq("md") {
    max-width: rem(600) + strip-unit($padding-pc) * 2;
    padding-right: $padding-sp;
    padding-left: $padding-sp;
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.p-contact__wrapper {
  background-color: $background-reversal-color;
  border: 10px solid $RECURUIT-border-color;
  border-radius: 10px;
  max-width: rem(900);
  width: 100%;
  margin: 0 auto;
  color: $contactForm-text-color;
  padding: rem(52) 0;
  transition: all 0.3s ease;
  @include mq() {
    border: 5px solid $RECURUIT-border-color;
    padding: rem(30) rem(15);
    max-width: rem(600);
  }
}

.p-contact__wrapper:hover {
  box-shadow: 5px 5px 20px 0px rgba(255, 112, 143, 0.7),-5px -5px 20px 0px rgba(66, 170, 255, 0.7),20px 20px 20px 3px rgba(43, 13, 122, 0.2);
}

.p-contact__header {
  max-width: rem(605);
  margin: 0 auto;
}

.p-contact__title {
  text-align: center;
  font-size: rem(48);
  font-weight: $bold;
  line-height: 1;
  @include mq() {
    font-size: rem(36);
  }
}

.p-contact__text {
  margin-top: rem(40);
  font-size: rem(16);
  font-weight: $regular;
  line-height: 2;
  @include mq() {
    line-height: 1.8;
  }
}
