.p-footer {
}

.p-footer__inner {
  padding: rem(30) 0;
}

.p-footer__title{
  text-align: center;
}

.p-footer__logo {
  display: inline-block;
}

.p-footer__logo img {
  max-width: rem(200);
  width: 100%;
}
