//*****************************************************
//ボタンホバー効果【透明度がちょっと暗くなる】
//----------------------------------------------------
//機能：マウスホバー時に透明度が暗くなるアニメーション効果
//----------------------------------------------------
//設定方法：
//要素のclassに「u-hover-opacity」のみを設定*****************************************************
.u-hover-opacity {
  opacity: 1;
  transition: opacity .3s ease;
}

.u-hover-opacity:hover {
  opacity: 0.6;
  transition: all 0.3s ease;
}