//*****************************************************
//Javascriptで指定するフェードイン・フェードアウト用CSS
//----------------------------------------------------
//機能：jQueryのfadeIn(),fadeOut()をJavascriptで再現
//----------------------------------------------------
//設定方法：
//jsフォルダのscript.js内を参照
//*****************************************************

@keyframes fade-in {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

@keyframes fade-out {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}