// 透過度
$header-opacity: 0.8;
$hover-opacity: 0.6;

//汎用色
$black: #111;
$white: #fff;
$background-color: #000000;
$background-reversal-color : #fff;
$text-color: #fff;
$text-reversal-color: #000000;
$title-black-color: #000000;
$title-white-color: #fff;
$main-title-color-left: #FF0000;
$main-title-color-right: #FFBB0E;
$number-gradient-color1: #7D621C;
$number-gradient-color2: #BCBCBC;
$CTA-btn: #FFBA0E;
$CTA-btn-shadow: #060C41;
$RECURUIT-border-color: #A3A3A3;
$CAREER-background-color1: #0E112C;
$CAREER-background-color2: #ACACAC;
$CAREER-text-color: #0E112C;
$CHECK-IT-OUT-title-color: #E0E0E0;
$CHECK-IT-OUT-subtitle-color: #333333;
$CHECK-IT-OUT-background-color: #ACACAC;
$QandA-answer-backgraound-color: #0E112C;
$QandA-question-text-color: #1A1A1A;
$contactForm-text-color: #333333;
$contactForm-placeholder-color: #A4A4A4;
$contactForm-required-color: #ff0000;
$contactForm-border: #5B5B5B;
$contactForm-contact-btn: #0E112C;
